@model ESklep.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nick)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nick)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.street)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.home_number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.home_number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.state)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.state)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.zipcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_active)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_active)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.is_deleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.is_deleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.user_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
