@model IEnumerable<ESklep.Models.OrderPosition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.order_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.storehouse_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.meansure_unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_netto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value_netto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tax_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price_brutto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.value_brutto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.storehouse_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.meansure_unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_netto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value_netto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tax_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price_brutto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.value_brutto)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.orderposition_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.orderposition_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.orderposition_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
